/****************************************** PASTILLAS ******************************************/

.pastillas {
    display: grid;
    background-color: $negro;

    @media (max-width:768px){

        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        padding-bottom: 5vw;
        padding-top: 5vw;

    }

    @media (min-width:769px){

        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        padding: 0 5vw;

    }

    div {

        @media (max-width:768px){

            margin: 4vw 7vw 4vw 7vw;

        }

        @media (min-width:769px){

            margin: 4vw 2vw 4vw 1.5vw;
            box-shadow: 2px 5px 5px 1px rgba(0, 0, 0, 0.4);

        }


        h2 {
            background-color: $verde;
            width: 100%;
            text-align: center;
            color: white;
            padding: 1vw;
            margin: 0;
        }

        p {
            background-color: rgb(37, 36, 36);
            color: white;
            margin: 0;
            
            @media (max-width:768px){

                padding: 4vw 7vw;

            }

            @media (min-width:769px){

                padding: 2vw; 

            }

        }
    }
}


